
/*
 * -------------------
 * Architects Daughter
 * -------------------
*/


@font-face {
    font-family: 'Architects Daughter';
    src: url("fonts/architects-daughter/ArchitectsDaughter.ttf");
    font-weight: normal;
    font-style: normal;
}
